body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F7F4EF;
    color: #333333;
}

header {
    margin: 20px 0;
}

.container {
    max-width: 80%; /* Use only 80% of the screen width */
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive grid */
    gap: 20px;
    padding: 20px;
}

h1, h3 {
    text-align: center;
    font-family: 'Bradley Hand', cursive;
}
