img {
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Optional shadow for better depth */
    border-radius: 3px;
    border: 1px solid seagreen;
}

@media (min-width: 768px) { /* Apply rules for larger screens */
    img {
        max-width: 60%; /* Limit the image width */
    }
}

input[type="checkbox"] {
    margin-right: 10px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
}

li {
    cursor: pointer; /* Make the entire item clickable */
    margin-bottom: 15px;
    display: flex; /* Align the checkbox and text horizontally */
    align-items: flex-start;  /* Align text with the top of the checkbox */
}

/* General table styling */
table {
    margin: 0 auto; /* Ensures the table is centered */
    background-color: #e8f5e9; /* Light green background */
    padding: 10px;
}

/* Table header */
th {
    display: none;
}

/* Table body cells */
td {
    padding: 5px 20px;
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

li.completed {
    text-decoration: line-through;
    color: gray;
}

.quantity-button {
    background-color: white;
    border: none;
}
