<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="{{ "css/global.css" | absURL }}">
    <link rel="stylesheet" href="{{ "css/recipe.css" | absURL }}">
</head>
<body>
<div class="container recipe">
    <button class="width-100" onclick="window.location.href='{{ .Site.BaseURL | relURL }}'">← Zurück zu Rezepten</button>

    <h1 class="title">{{ .Title }}</h1>
    <img src="{{ .Params.image | absURL }}" alt="{{ .Title }}">

    <div>
        {{ .Content | safeHTML }}
    </div>
</div>
</body>
</html>
