<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="{{ "css/global.css" | absURL }}">
    <link rel="stylesheet" href="{{ "css/card.css" | absURL }}">
    <script src="{{ "js/search.js" | absURL }}" defer></script>
</head>
<body>
<header>
    <h1 class="title">{{ .Title }}</h1>
</header>
<div class="container">
    <!-- Search Input -->
    <input type="search" id="searchInput" placeholder="Ich suche..."/>

    <!-- Category filters -->
    <div class="category-menu">
        <button class="primary-button selected" data-category="all">
            Alle ({{ len (where .Site.RegularPages "Type" "recipes") }})
        </button>
        {{ range $key, $value := .Site.Taxonomies.categories }}
        <button class="primary-button category-filter" data-category="{{ $key | lower }}">{{ $key | title }} ({{ len $value }})</button>
        {{ end }}
    </div>

    <!-- Recipe Cards -->
    <div id="recipeContainer" class="recipe-container">
        {{ $sortedPages := sort .Site.RegularPages "GitInfo.AuthorDate" "desc" }}
        {{ range $sortedPages }}
        <a href="{{ .RelPermalink }}" class="card" data-title="{{ .Title | lower }}"
           data-category="{{ range .Params.categories }}{{ . | lower }} {{ end }}"
           data-summary="{{ .Summary | lower }}" data-content="{{ .Plain | lower }}">
            <img src="{{ .Params.image | absURL }}" alt="{{ .Title }}">
            <h3>{{ .Title }}</h3>
            <div class="categories">
                {{ range .Params.categories }}
                <span class="category-pill">{{ . }}</span>
                {{ end }}
            </div>
            <p> {{ .Params.note }} </p>
            <p class="last-modified">{{ .GitInfo.AuthorDate.Format "02.01.2006" }}</p>

        </a>
        {{ end }}
    </div>
</div>
</body>
</html>
